{% extends "Shifts/layout.html" %}

{% block body %}

    <div class="container">
    
    <!--displaying Error messages-->
    {% if messages %}
        {% for message in messages %}
        {{message}}
        {% endfor %}
    {% endif %}


    
        <h1>this is a test for add shift </h1>

            <form action="{% url 'Shifts:addshifts' %}" method ="post">
                {% csrf_token %}   
                
                <div class="row">
                        {% for field in form %}   
                        <div class="col-sm-6">
                                 {{ field.label }}{{ field }}
                        </div>
                        {% endfor %}
                </div>
                <input type="submit">
            </form>

       
   </div>     
  
{% endblock %}