{% extends "Shifts/layout.html" %}

{% block body %}



    <!--displaying Error messages-->
    {% if messages %}
                
    {% for message in messages %}


    <div class="mx-auto alert alert-danger text-center" role="alert" style="max-width: 800px;">
        {{message}} 

    </div>

    {% endfor %}       


    {% endif %}

    <div class="container-sm bg-light justify-content-center  border border-top-0  rounded mx-auto mb-2  " style="max-width: 800px; border-color: #feac33 !important;">
       
   

    
    <script>
        
        const DAYS =[
             "Sunday",
             "Monday",
              "Tuesday",
              "Wednesday",
              "Thursday",
              "Friday",
              "Saturday",
              ]
              
        
        
       //takes dayIndex from sunday(0) to saturday(6)
        function nextDate(dayIndex) {
            var today = new Date();
            today.setDate(today.getDate() + (dayIndex - 1 - today.getDay() + 7) % 7 + 1);
            return today;
        }

        //displays date for next week
        document.addEventListener("DOMContentLoaded",()=>{
            var next_week = nextDate(0);
            //var nextWeekFrom = new Date(date.setDate(nextWeekStart));
            for (let i = 0; i < DAYS.length; ++i) { 
             
               
                // weekends have diffrent label due to diffrent hours
                if (`${DAYS[i]}` === "Friday" || `${DAYS[i]}` === "Saturday"  ){
                   
                    document.getElementById(`${DAYS[i]} evening 15:00-23:00`).innerHTML =next_week.toLocaleString('he-IL',{year: 'numeric', month: 'numeric', day: 'numeric'});
                }
                
                else
                {
                    document.getElementById(`${DAYS[i]} evening 16:00-23:00`).innerHTML =next_week.toLocaleString('he-IL',{year: 'numeric', month: 'numeric', day: 'numeric'});    
                }
                //loop next week (day)
                next_week.setDate(next_week.getDate() + 1);
              
              }
            }
        
        )
    </script>

            <form action="{% url 'Shifts:addshifts' %}" method ="post">
                {% csrf_token %}   
                
                <div class="row ">
                        {% for field in form %}   

                        {% if "evening" in field.label %}
                            <div class="col-sm-12 p-1 mx-auto border-bottom  " style=" border-color: #feac33 !important;">
                                <p class="text-center h4 fst-italic " id="{{field.label}}"  style="color:#fdae38 ;"> Date</p>
                            </div>   
                        {% endif %}

                        <div class="col-sm-6 d-flex  border-bottom  " style=" border-color: #feac33 !important;">
                            <div class="col-sm-6 p-3 py-2 fw-bolder text-center text-dark   mx-auto " >
                                {{ field.label }}
                               
                            </div>

                            <div class="col-sm-5  py-2 mx-auto ">
                                {{ field }}
                            </div>
                                 
                        </div>
                        {% endfor %}
                </div>
                
                <div class="d-flex justify-content-center" >

                       <input type="submit" class="btn btn-primary m-2"></input>

                </div>
                
            </form>

       
   </div>     
  
{% endblock %}