{% extends "Shifts/layout.html" %}

{% block body %}

    {% if message%}
        <div> {{message}}  </div>
    {% endif %}

    
    <form action="{% url 'Shifts:login' %}" method="post" id="loginform">
         {% csrf_token %}
        <input type ="text" id="username" name="username" placeholder= "username">
        <input type="password" name="password" placeholder="password">
        <input type = "submit" value = "Login">
    </form>

    <!-- button for displaying name in form here 
        
    <script>
        document.addEventListener('DOMContentLoaded', function(){
            document.querySelector('#loginform').onsubmit= function(){
                const username = document.querySelector('#username').value;
                alert(`hello, ${username}`)
            };
        });
    </script>

    -->
{% endblock %}